@page "/Auth/UserSettings"
@using BetterExpenses.Common.DTO.User
@inject HttpClient Http



@if (_userSettings == null)
{
<div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
}
else
{
    <div class="card" style="width: 600px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="images/icons/banks/bunq-logo-rounded.png" class="img-fluid p-4" alt="bunq_logo">
            </div>
            <div class="col-md-1 d-flex align-items-center">
                <span class="material-symbols-outlined md-48 danger">link_off</span>
            </div>
            <div class="col-md-5 d-flex align-items-center">
                <div class="card-body">
                    <p class="card-text">Bunq is not connected</p>
                    <button class="btn btn-outline-success">Connect</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    private UserSettingsDto? _userSettings;

    protected override async Task OnInitializedAsync()
    {
        _userSettings = await Http.GetFromJsonAsync<UserSettingsDto>("api/User/GetUserSettings");
    }
}