@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity?.Name!
        <a class="nav-link btn btn-link" href="/auth/logout">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a class="nav-link btn btn-link" href="/auth/login">Log in</a>
        <a class="nav-link btn btn-link" href="/auth/register">Register</a>
    </NotAuthorized>
</AuthorizeView>

@code{
}