@using BetterExpenses.Web.Services.Api
@inject IGraphApiService GraphApiService

@if (_hasData)
{
    <LineChart @ref="_lineChart" Class="mb-4" />
}
else
{
    <p>No data available at this moment</p>
}


@code {
    private bool _hasData = true;
    private LineChart _lineChart = default!;
    private ChartData _chartData = default!;
    private readonly LineChartOptions _lineChartOptions = new ()
    {
        Responsive = true,
        MaintainAspectRatio = true,
        Interaction = new Interaction { Mode = InteractionMode.Index }
    };

    protected override async Task OnInitializedAsync()
    {
        var chart = await GraphApiService.GetTotalExpensesChart(2024, 2);
        if (chart == null)
        {
            _hasData = false;
            return;
        }
        
        var dataSets = chart.DataDictionary.Select(x => new LineChartDataset
        {
            Label = x.Key,
            Data = x.Value
        });
        
        _chartData = new ChartData
        {
            Labels = chart.Labels,
            Datasets = new List<IChartDataset>(dataSets)
        };

        
        _lineChartOptions.Scales.X.Title.Text = "Day";
        _lineChartOptions.Scales.X.Title.Display = true;
        
        _lineChartOptions.Scales.Y.Title.Text = "Amount";
        _lineChartOptions.Scales.Y.Title.Display = true;
        
        await _lineChart.InitializeAsync(_chartData, _lineChartOptions);
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
    }
}