.material-symbols-outlined.danger { color: var(--primary-danger); }
.material-symbols-outlined.success { color: var(--primary-success); }
.material-symbols-outlined.warning { color: var(--primary-warning); }