@using BetterExpenses.Web.Components.Charts
@page "/"

<PageTitle>Home</PageTitle>

<div class="col-md-6 col-sm-12">
    <Card>
        <CardBody>
            <CardTitle>Card title</CardTitle>
            <CardSubTitle Class="mb-2 text-muted">Card subtitle</CardSubTitle>
            <TotalExpensesChart/>
        </CardBody>
    </Card>
</div>

@code{

    

}