@using Microsoft.AspNetCore.Components
<div>
    <div class="card d-inline-block">
        <div class="row g-1 justify-content-evenly">
            <div class="col-3">
                <img src="images/icons/banks/bunq-logo-rounded.png" class="img-fluid p-2" alt="bunq_logo">
            </div>
            <div class="col-auto d-flex align-items-center">
                <span class="material-symbols-outlined md-48 @ColorClass">@IconType</span>
            </div>
            <div class="col-auto d-flex align-items-center">
                <button class="btn btn-outline-@ButtonColorClass" @onclick="OnButtonClick">@ButtonText</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public bool Linked { get; set; }

    [Parameter]
    public EventCallback OnButtonClick { get; set; }
    
    private string ColorClass => Linked ? "success" : "danger";
    private string ButtonColorClass => !Linked ? "success" : "danger";
    private string IconType => Linked ? "link" : "link_off";
    private string ButtonText => Linked ? "Disconnect" : "Connect";
}